{% block content %}
    <div id="clouds">
        <img class="cloud x1" alt="cloud" src="{{ url_for( 'static' , filename='assets/cloud.png') }}">
        <img class="cloud x2" alt="cloud" src="{{ url_for( 'static' , filename='assets/cloud.png') }}">
        <img class="cloud x3" alt="cloud" src="{{ url_for( 'static' , filename='assets/cloud.png') }}">
        <img class="cloud x4" alt="cloud" src="{{ url_for( 'static' , filename='assets/cloud.png') }}">
        <img class="cloud x5" alt="cloud" src="{{ url_for( 'static' , filename='assets/cloud.png') }}">
    </div>
{% endblock %}